
@using EFModel;
@model Menus
<form id="edit_form">
    <input type="hidden"  name="ID" value="@Model.ID"/>
    <input type="hidden" name="dInsertTime" value="@Model.dInsertTime"/>
<table class="gridtable">
    <tr>
        <td>所属菜单</td>
        <td>
            <input class="easyui-combobox" name="sParentMenuId" value="@Model.sParentMenuId"
                   data-options="valueField:'id',textField:'text',url:'/Admin/Menus/GetFirstMenus'" />
        </td>
    </tr>
    <tr>
        <td>菜单名称</td>
        <td>
            <input  class="easyui-textbox"  name="sMenuName" value="@Model.sMenuName"/>
        </td>
    </tr>
    <tr>
        <td>菜单链接</td>
        <td>
            <input class="easyui-textbox" name="sMenuUrl" value="@Model.sMenuUrl" />
        </td>
    </tr>
    <tr>
        <td>排 序</td>
        <td>
            <input class="easyui-textbox" name="iOrder" value="@Model.iOrder"/>
        </td>
    </tr>
</table>
</form>
